<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.exam.dao.BoardMapper">


  <select id="getBoard" parameterType="int" resultType="BoardDto">
    SELECT NO, AUTHOR, TITLE, CONTENT, HIT, IP, POSTDATE
      FROM MVC_BOARD_T
     WHERE NO = #{no}
  </select>

  <insert id="addBoard" parameterType="BoardDto">
    INSERT INTO MVC_BOARD_T (
        NO
      , AUTHOR
      , TITLE
      , CONTENT
    ) VALUES (
        MVC_BOARD_SEQ.NEXTVAL
      , #{author}
      , #{title}
      , #{content}
    )
  </insert>

  <select id="getBoardList" resultType="BoardDto">
    SELECT NO, AUTHOR, TITLE, HIT, POSTDATE
      FROM MVC_BOARD_T
     ORDER BY NO DESC
  </select>
  
   <delete id="delete" parameterType="int">
  	 DELETE FROM MVC_BOARD_T WHERE NO = #{no}
   </delete>
</mapper>