<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.app.dao.NoticeMapper">

  <update id="modifyNotice" parameterType="NoticeDto">
    UPDATE NOTICE_T
       SET GUBUN = #{gubun}
         , TITLE = #{title}
         , CONTENT = #{content}
     WHERE NOTICE_NO = #{noticeNo}
  </update>

  <select id="getNotice" parameterType="int" resultType="NoticeDto">
    SELECT NOTICE_NO, GUBUN, TITLE, CONTENT
      FROM NOTICE_T
     WHERE NOTICE_NO = #{noticeNo}
  </select>
  <insert id="addNotice" parameterType="NoticeDto">
    INSERT INTO NOTICE_T ( 
      NOTICE_NO
    , GUBUN
    , TITLE
    , CONTENT
    ) VALUES (
      NOTICE_SEQ.NEXTVAL
    , #{gubun}
    , #{title}
    , #{content}
    )   
  </insert>
  <select id="getNoticeList" resultType="NoticeDto">
    SELECT NOTICE_NO, GUBUN, TITLE, CONTENT
      FROM NOTICE_T
     ORDER BY NOTICE_NO DESC
  </select>
  
</mapper>