<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myhome.dao.UploadMapper">

  <insert id="insertUpload" parameterType="UploadDto">
    <!-- INSERT 수행 이전에 파라미터 UploadDto의 uploadNo 필드에 UPLOAD_SEQ.NEXTVAL값을 저장한다. -->
    <selectKey order="BEFORE" resultType="int" keyProperty="uploadNo">
      SELECT UPLOAD_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO UPLOAD_T (
        UPLOAD_NO
      , TITLE
      , CONTENTS
      , USER_NO
      , CREATED_AT
      , MODIFIED_AT
    ) VALUES (
        #{uploadNo}
      , #{title}
      , #{contents}
      , #{userDto.userNo}
      , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
      , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
    )
  </insert>
  
  <insert id="insertAttach" parameterType="AttachDto">
    INSERT INTO ATTACH_T (
        ATTACH_NO
      , PATH
      , ORIGINAL_FILENAME
      , FILESYSTEM_NAME
      , DOWNLOAD_COUNT
      , HAS_THUMBNAIL
      , UPLOAD_NO
    ) VALUES (
        ATTACH_SEQ.NEXTVAL
      , #{path}
      , #{originalFilename}
      , #{filesystemName}
      , 0
      , #{hasThumbnail}
      , #{uploadNo}
    )
  </insert>
  
  
  
  
  
  
  
  
  
  
</mapper>