<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myhome.dao.UserMapper">

  <select id="getUser" parameterType="Map" resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, GENDER, MOBILE, POSTCODE, ROAD_ADDRESS, JIBUN_ADDRESS, DETAIL_ADDRESS, AGREE, PW_MODIFIED_AT, JOINED_AT
      FROM USER_T
     WHERE EMAIL = #{email}
       AND PW = #{pw}
  </select>
  
  <insert id="insertAccess" parameterType="String">
    INSERT INTO ACCESS_T (
        EMAIL
      , LOGIN_AT
    ) VALUES (
        #{email}
      , SYSDATE
    )
  </insert>
  
</mapper>