<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.app14.dao.MemberMapper">

  <insert id="insertMember" parameterType="MemberDto">
    INSERT INTO MEMBER_T (
        MEMBER_NO
      , ID
      , NAME
      , GENDER
      , ADDRESS
    ) VALUES (
        MEMBER_SEQ.NEXTVAL
      , #{id}
      , #{name}
      , #{gender}
      , #{address}
    )
  </insert>
  
  <select id="getMemberList" parameterType="Map" resultType="MemberDto">
    SELECT MEMBER_NO, ID, NAME, GENDER, ADDRESS
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY MEMBER_NO DESC) AS RN, MEMBER_NO, ID, NAME, GENDER, ADDRESS
              FROM MEMBER_T)
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getMemberCount" resultType="int">
    SELECT COUNT(*)
      FROM MEMBER_T
  </select>
  
  <select id="getMember" parameterType="int" resultType="MemberDto">
    SELECT MEMBER_NO, ID, NAME, GENDER, ADDRESS
      FROM MEMBER_T
     WHERE MEMBER_NO = #{memberNo}
  </select>
  
  <update id="updateMember" parameterType="MemberDto">
    UPDATE MEMBER_T
       SET NAME = #{name}
         , GENDER = #{gender}
         , ADDRESS = #{address}
     WHERE MEMBER_NO = #{memberNo}
  </update>
  
  <delete id="deleteMember" parameterType="int">
    DELETE
      FROM MEMBER_T
     WHERE MEMBER_NO = #{memberNo}
  </delete>
  
  <delete id="deleteMembers" parameterType="List">
    DELETE
      FROM MEMBER_T
    <where>
      MEMBER_NO
      <foreach collection="list" item="memberNo" open="IN(" close=")" separator=",">
        #{memberNo}
      </foreach>
    </where>
  </delete>

</mapper>